body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color:#e4f4fd;
}
#titulo{
    background-color: #8bd3f8;
}

.entradaNick{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.entradaCod{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

input{
    position: absolute;
    top: 100%;
    text-align: center;
}

button{
    border: 1px solid #2e518b;
    padding: 5px;
    background-color: #2e518b; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    transition: all 1s ease;
}

button:hover{
    background: #318aac;
    color: #fff !important;
}

#unirse{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}