body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color:#e4f4fd;
}

.poderes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.poder{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#cincuenta{
    background-image: url('https://cdn.discordapp.com/attachments/364518078572265474/1032097490322858105/image.jpg');
    background-repeat: no-repeat;
    background-size: 50px 52px;
    background-position: center;
}

#publico{
    background-image: url('https://cdn.discordapp.com/attachments/364518078572265474/1032099543602434059/image_1.jpg');
    background-repeat: no-repeat;
    background-size: 50px 52px;
    background-position: center;
}

#pordos{
    background-image: url('https://cdn.discordapp.com/attachments/364518078572265474/1032101093796229171/unknown.png');
    background-repeat: no-repeat;
    background-size: 50px 52px;
    background-position: center;
}

#titulo{
    background-color: #8bd3f8;
}

#pregunta{
    text-align: center; 
}

#respuestas{
    height: 30vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.btn-respuesta{
    border: 1px solid #2e518b;
    padding: 5px;
    background-color: #2e598b; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    transition: all 1s ease;
}

.btn-respuesta:hover{
    background: #318aac;
    color: #fff !important;
}

table, th, td {
    border: 1px solid black;
    margin:auto;
    text-align: center;
  }
  
tr{
    background-color: white;
}

.btn-next{
    border: 1px solid #2e518b;
    padding: 5px;
    background-color: #2e598b; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    transition: all 1s ease;
    text-align: center;
}

.btn-next:hover{
    background: #318aac;
    color: #fff !important;
}

#mensajeFin{
    text-align: center;
}

.usuinvi {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .usuinvi:hover {
    background-color: #8bd3f8;
    box-shadow: #225b72 0 -6px 8px inset;
    transform: scale(1.125);
  }

  .usuinvi:active {
    transform: scale(1.025);
  }

  @media (min-width: 768px) {
    .usuinvi {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }