body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color:#e4f4fd;
}

.poderes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.poder{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#cincuenta{
    background-image: url('https://cdn.discordapp.com/attachments/364518078572265474/1032097490322858105/image.jpg');
    background-repeat: no-repeat;
    background-size: 50px 52px;
    background-position: center;
}

#publico{
    background-image: url('https://cdn.discordapp.com/attachments/364518078572265474/1032099543602434059/image_1.jpg');
    background-repeat: no-repeat;
    background-size: 50px 52px;
    background-position: center;
}

#pordos{
    background-image: url('https://cdn.discordapp.com/attachments/364518078572265474/1032101093796229171/unknown.png');
    background-repeat: no-repeat;
    background-size: 50px 52px;
    background-position: center;
}

#titulo{
    background-color: #8bd3f8;
}

#pregunta{
    text-align: center; 
}

#respuestas{
    height: 30vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.btn-respuesta{
    border: 1px solid #2e518b;
    padding: 5px;
    background-color: #2e598b; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    transition: all 1s ease;
}

.btn-respuesta:hover{
    background: #318aac;
    color: #fff !important;
}

table, th, td {
    border: 1px solid black;
    margin:auto;
    text-align: center;
  }
  
tr{
    background-color: white;
}

.btn-next{
    border: 1px solid #2e518b;
    padding: 5px;
    background-color: #2e598b; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    transition: all 1s ease;
    text-align: center;
}

.btn-next:hover{
    background: #318aac;
    color: #fff !important;
}

/* #divboton{
    justify-content: center;
    align-content: center;
} */

#mensajeFin{
    text-align: center;
}