body{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  background: rgb(228, 244, 253);
}
  
#title{
  background: rgb(139, 211, 248);
}
  
.center-part{
  text-align: center;
}


.boton {
  border: 1px solid #2e518b;
  padding: 10px;
  background-color: #2e518b; 
  color: #ffffff;
  text-decoration: none; 
  text-transform: uppercase; 
  font-family: 'Helvetica', sans-serif; 
  border-radius: 50px; 
}

.botonsalir {
  border: 1px solid #e11212;
  padding: 5px;
  background-color: #c74f41; 
  color: #ffffff;
  text-decoration: none;
  font-size:x-large;
  font-family: 'Helvetica', sans-serif; 
  border-radius: 10px; 
  float: right;
}

.foo { 
  /* float: left;  */
  width: 95%; 
  height: 100%; 
  margin: 5px; 
  border: 1px solid rgba(0, 0, 1000, .2); 
  background: #ffffff;
  display:flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  position:relative;
} 
